amqp==2.6.1
aniso8601==3.0.2
asn1crypto==0.24.0
attrs==19.1.0
backports.functools-lru-cache==1.5
beautifulsoup4==4.7.1
billiard==3.6.3.0
blinker==1.4
celery==4.4.7
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
cheroot==6.5.2
CherryPy==17.4.0
cherrypy-cors==1.6
Click==7.0
configparser==4.0.2
contextlib2==0.5.5
cryptography==2.4.2
decorator==4.3.0
elasticsearch==7.9.1
email==4.0.2
enum34==1.1.6
et-xmlfile==1.0.1
Flask==0.12
Flask-Cors==3.0.3
Flask-JWT-Extended==3.13.1
Flask-RESTful==0.3.6
Flask-Restless==0.17.0
Flask-SQLAlchemy==2.3.2
functools32==3.2.3.post2
fusionexport==1.1.0
GeoAlchemy2==0.5.0
glob2==0.7
-e git+https://tauovir707@bitbucket.org/nyalazone/hlcapp.git@bb8bf5de0d3d1da71fcfc0335428689648c56475#egg=HLC_APP
httpagentparser==1.8.1
idna==2.7
importlib-metadata==2.0.0
ipaddress==1.0.22
ipython-genutils==0.2.0
itsdangerous==0.24
jaraco.functools==1.20
jdcal==1.4
Jinja2==2.10
jsonschema==3.0.1
jupyter-core==4.4.0
kombu==4.6.11
MarkupSafe==1.0
mimerender==0.6.0
more-itertools==4.3.0
nbformat==4.4.0
networkx==2.2
numpy==1.16.3
openpyxl==2.5.12
pandas==0.24.2
Paste==2.0.3
pathlib2==2.3.5
Pillow==5.4.1
plotly==3.8.1
portend==2.3
psutil==5.6.2
psycopg2==2.7.5
pycparser==2.19
pycrypto==2.6.1
PyJWT==1.6.4
pyrsistent==0.15.1
python-dateutil==2.7.3
python-mimeparse==1.6.0
pytz==2018.5
redis==3.3.11
reportlab==3.5.17
requests==2.19.1
retrying==1.3.3
scandir==1.10.0
scipy==1.2.1
six==1.11.0
soupsieve==1.9.1
SQLAlchemy==1.2.12
SQLAlchemy-Searchable==1.0.3
SQLAlchemy-Utils==0.33.8
tempora==1.13
traitlets==4.3.2
treelib==1.5.3
tzlocal==2.1
urllib3==1.23
validators==0.12.3
vine==1.3.0
Werkzeug==0.14.1
Whoosh==2.7.4
WSGIserver==1.3
xlrd==1.2.0
zc.lockfile==1.3.0
zipp==1.2.0
